body {
  background-color: #F2F2F2;
}
.form-wrapper {
  position: relative;
}
.form-div::before {position: absolute;
  display: block;
  top: 25px;
  left: 37px;
  width: 23px;
  height: 23px;
 
  background-image: url('../images/icon-search-black.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content:'' ;
}
input {
  border: none;
}